<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Artworks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body> 
	<table>
      <tr>
        <th>Title</th>
      </tr>
      <tr th:each="artwork : ${artworks}">
        <td><a th:href="@{/artwork/__${artwork.id}__}"><span th:text="${artwork.title} + ' [need to loop through contributors]'"></span></a></td>
      </tr>
    </table>
    <div th:if="${artworks.hasPrevious()}">
    	<a th:href="@{/artwork/page/__${artworks.getNumber()}__}">&lt; Prev</a>
    </div>
    <div th:if="${artworks.hasNext()}">
    	<a th:href="@{/artwork/page/__${artworks.getNumber()+2}__}">Next &gt;</a>
    </div>
    <p th:text="'Page ' + ${artworks.getNumber()+1} + ' of ' + ${artworks.getTotalPages()}"></p>
</body>
</html>